$one: #2F6690;
$two: #ED6A5A;
$three: #1C203B;
$four: #F9FBF2;
$five: #FAFAFA;


@mixin respond-to($media){
    @if $media == mobile {
        @media only screen and (max-width: 850px) { @content; }
    }
}