#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F9FBF2;
  height: 50px;
  border-top: 5px solid #1C203B;
  box-shadow: 0px -5px 20px rgba(28, 32, 59, 0.3); }
  #footer h4 {
    text-align: center;
    margin: 0;
    font-weight: 300; }
