@import "colors";

#footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: $four;
    height: 50px;

    border-top: 5px solid $three;
    box-shadow: 0px -5px 20px rgba($three,.3);

    h4{
        text-align: center;
        margin: 0;
        font-weight: 300;
    }
}