@import "colors";

#header{
    position: relative;

    height: 100px;
    padding: 0 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid $three;
    box-shadow: 0px 5px 20px $three;
    z-index: 1;

    img{
        min-height: 100px;
        width: 100px;
    }

    a{
        display:inline-block;
        position:relative;
        margin: auto 0;
    }
    button{
        display:inline-block;
        position:relative;

        outline: none;
        border: none;
        background: none;
        margin: auto 0;

        width:150px;
        height: 50px;
        padding: 10px 20px;

        font-size: 1.5em;
        font-weight: 800;
        color: $one;

        transition: all .3s ease;

        @include respond-to(mobile){
            width:auto;
        }
    }
    button:before {
        content: "";
        position: absolute;
        z-index:-1;
        top: 0;  left: 0;  right: 0;  bottom: 0;
        opacity: 0;
        background: $three;
        transform: scaleY(0);
        transform-origin: 0 50%;
        transition: transform .3s ease;
    }
    button:hover:before{
        opacity: 1;
        transform: scaleY(1);
    }
    button:hover{
        cursor: pointer;
        color: $two;
        box-shadow: 0px 5px 20px rgba($three, 1);
    }
}