#header {
  position: relative;
  height: 100px;
  padding: 0 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 5px solid #1C203B;
  box-shadow: 0px 5px 20px #1C203B;
  z-index: 1; }
  #header img {
    min-height: 100px;
    width: 100px; }
  #header a {
    display: inline-block;
    position: relative;
    margin: auto 0; }
  #header button {
    display: inline-block;
    position: relative;
    outline: none;
    border: none;
    background: none;
    margin: auto 0;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: 800;
    color: #2F6690;
    transition: all .3s ease; }
    @media only screen and (max-width: 850px) {
      #header button {
        width: auto; } }
  #header button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: #1C203B;
    transform: scaleY(0);
    transform-origin: 0 50%;
    transition: transform .3s ease; }
  #header button:hover:before {
    opacity: 1;
    transform: scaleY(1); }
  #header button:hover {
    cursor: pointer;
    color: #ED6A5A;
    box-shadow: 0px 5px 20px #1c203b; }
