@import "colors";

#links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;
    margin-bottom: 100px;

    button{
        display:inline-block;
        position:relative;

        outline: none;
        border: none;
        background: none;
        margin: auto 5vw;

        height: 50px;
        padding: 10px 20px;

        font-size: 1.3em;
        font-weight: 400;
        color: $one;

        transition: all .3s ease;
    }
    button:before {
        content: "";
        position: absolute;
        z-index:-1;
        top: 0;  left: 0;  right: 0;  bottom: 0;
        opacity: 0;
        background: $three;
        transform: scaleY(0);
        transform-origin: 0 50%;
        transition: transform .3s ease;
    }
    button:hover:before{
        opacity: 1;
        transform: scaleY(1);
    }
    button:hover{
        cursor: pointer;
        color: $two;
        box-shadow: 0px 5px 20px rgba($three, 1);
    }
}