.photos {
  margin: 50px 10vw;
  margin-bottom: 100px; }
  .photos .pswp-thumbnail {
    display: inline-block;
    margin: 10px; }
    .photos .pswp-thumbnail img {
      max-width: 200px !important;
      max-height: 200px !important;
      width: auto;
      height: auto; }
    .photos .pswp-thumbnail img:hover {
      cursor: pointer; }
  .photos h1 {
    margin: 20px 0;
    font-size: 2em;
    text-align: center; }
  .photos .pswp__img {
    margin: 0 auto;
    width: auto !important;
    height: 540px !important; }
  .photos .media-container {
    position: relative; }
    .photos .media-container h2 {
      margin: 20px 0;
      margin-top: .7em;
      padding-top: .7em;
      font-size: 1.5em; }
    .photos .media-container .videoreel {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
    .photos .media-container .imagereel {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .photos .media-container .imagereel img {
        max-width: 200px !important;
        max-height: 200px !important;
        width: auto;
        height: auto;
        margin: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); }
  .photos .pswp__caption__center {
    text-align: center; }
