@import "colors";

.photos{
    margin: 50px 10vw;
    margin-bottom: 100px;

    .pswp-thumbnail{
        display: inline-block;
        margin: 10px;

        img{
            max-width: 200px !important;
            max-height: 200px !important;
            width: auto;
            height: auto;
        }
        img:hover{
            cursor: pointer;
        }
    }
    h1{
        margin: 20px 0;
        font-size: 2em;
        text-align: center;
    }
    
    .pswp__img{
        // max-height: 540px;
        margin: 0 auto;
        width: auto !important;
        height: 540px !important;
    }
    .media-container{
        position: relative;

        h2{
            margin: 20px 0;
            margin-top: .7em;
            padding-top: .7em;
            font-size: 1.5em;
        }
        .videoreel{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .imagereel{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            img{
                max-width: 200px !important;
                max-height: 200px !important;
                width: auto;
                height: auto;
                margin: 5px;
                box-shadow: 0px 0px 5px rgba(black,.3);
            }
        }
    }

    .pswp__caption__center{
        text-align: center;
    }
    
}