@import "colors";

#mission{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    margin: 50px 10vw;
    
    @include respond-to(mobile){
        margin: 0 10px;
    }

    .imgs{
        // min-width: 400px;
        width: 30vw;
        height: 100%;
        background: $four;
        margin: auto 2vw;
        border: 5px solid $three;
        padding: 0 10px;
        box-shadow: 0px 0px 20px rgba($three,.3);

        @include respond-to(mobile){
            width: 90vw;
        }
    }
    img{
        margin: auto 0;
        max-width: 100%;
    }
    h3{
        text-align: center;
        margin: auto 0;
    }
    .img{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text{
        position: relative;
        margin: 0 2vw;
        max-width: 30vw;
        display: flex;
        flex-direction: column;

        @include respond-to(mobile){
            margin: 0 10px;
            margin-top: 50px;
            max-width: none;
        }

        h2{
            margin: .7em 0;
            display: inline-block;
            font-size: 1.5em;
            font-weight: 400;
            font-style: italic;
            letter-spacing: .1em;
        }
        span{
            position: absolute;
            font-size: 2em;
            top: 0px;
            left: 0px;
            font-weight: 800;
            font-style: normal;
            letter-spacing: .1em;
            color: rgba($one, 0.2);
        }
        p{
            margin: 10px 0;
        }
        h4{
            margin: 0;
            text-align: right;
            font-style: italic;
        }
    }
}