#mission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 10vw; }
  @media only screen and (max-width: 850px) {
    #mission {
      margin: 0 10px; } }
  #mission .imgs {
    width: 30vw;
    height: 100%;
    background: #F9FBF2;
    margin: auto 2vw;
    border: 5px solid #1C203B;
    padding: 0 10px;
    box-shadow: 0px 0px 20px rgba(28, 32, 59, 0.3); }
    @media only screen and (max-width: 850px) {
      #mission .imgs {
        width: 90vw; } }
  #mission img {
    margin: auto 0;
    max-width: 100%; }
  #mission h3 {
    text-align: center;
    margin: auto 0; }
  #mission .img {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #mission .text {
    position: relative;
    margin: 0 2vw;
    max-width: 30vw;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 850px) {
      #mission .text {
        margin: 0 10px;
        margin-top: 50px;
        max-width: none; } }
    #mission .text h2 {
      margin: .7em 0;
      display: inline-block;
      font-size: 1.5em;
      font-weight: 400;
      font-style: italic;
      letter-spacing: .1em; }
    #mission .text span {
      position: absolute;
      font-size: 2em;
      top: 0px;
      left: 0px;
      font-weight: 800;
      font-style: normal;
      letter-spacing: .1em;
      color: rgba(47, 102, 144, 0.2); }
    #mission .text p {
      margin: 10px 0; }
    #mission .text h4 {
      margin: 0;
      text-align: right;
      font-style: italic; }
