@import "colors";

#notification{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px 0;
    padding-top: 20px;
    text-align: center; 
    background: $four;
    color: $three;

    box-shadow: 0px 5px 20px rgba($three,.3);

    h4{
        padding: 5px 0;
        display: inline-block;
        margin: auto 0;
        font-weight: 400;
        font-size: 1em;
    }

    .bold{
        font-weight: 600;
    }

    a{
        text-decoration: underline;
        color: $one;
    }
    a:hover{
        cursor: pointer;
    }
}