#notification {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  padding-top: 20px;
  text-align: center;
  background: #F9FBF2;
  color: #1C203B;
  box-shadow: 0px 5px 20px rgba(28, 32, 59, 0.3); }
  #notification h4 {
    padding: 5px 0;
    display: inline-block;
    margin: auto 0;
    font-weight: 400;
    font-size: 1em; }
  #notification .bold {
    font-weight: 600; }
  #notification a {
    text-decoration: underline;
    color: #2F6690; }
  #notification a:hover {
    cursor: pointer; }
