@import "colors";

#rosterdata{
    margin: 50px 10vw;
    margin-bottom: 100px;

    h1{
        margin: 20px 0;
        font-size: 2em;
        text-align: center;
    }
    text-align: center;

    #roster{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
        p{
            font-size: 1em;
            width: 150px;
            margin: 10px;
        }
    }
}