#rosterdata {
  margin: 50px 10vw;
  margin-bottom: 100px;
  text-align: center; }
  #rosterdata h1 {
    margin: 20px 0;
    font-size: 2em;
    text-align: center; }
  #rosterdata #roster {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    #rosterdata #roster p {
      font-size: 1em;
      width: 150px;
      margin: 10px; }
