#schedule {
  margin: 50px 10vw;
  margin-bottom: 100px;
  text-align: center; }
  #schedule h1 {
    margin: 20px 0;
    font-size: 2em;
    text-align: center; }
  #schedule #event {
    display: inline-grid;
    grid-template-columns: 100px auto;
    grid-column-gap: 10px;
    text-align: left; }
    #schedule #event h2 {
      display: inline-block;
      margin: 10px;
      font-size: 1.2em; }
    #schedule #event h2:nth-child(odd) {
      font-weight: 800; }
    #schedule #event h2:nth-child(even) {
      font-weight: 400; }
