@import "colors";

#schedule{
    margin: 50px 10vw;
    margin-bottom: 100px;

    h1{
        margin: 20px 0;
        font-size: 2em;
        text-align: center;
    }
    text-align: center;

    #event{
        display: inline-grid;

        grid-template-columns: 100px auto;
        grid-column-gap: 10px;

        text-align: left;

        h2{
            display: inline-block;
            margin: 10px;
            font-size: 1.2em;
        }
        h2:nth-child(odd){
            font-weight: 800;
        }
        h2:nth-child(even){
            font-weight: 400;
        }
    }
}